extends ../layouts/layout
block content
   div.container
    h2(style='font-size: 40px;') New Books
    include ../partials/errMess
    form(action="/books" method="POST" )
       include ./form_field
       div.flex-end
            a(href="/books",style='text-decoration: none; padding: 0 5px; font-size: 16px;') Cancel
            button.btn.btn-danger(type="submit") Create