extends ../layouts/layout
block content
    h2 New Books
    include ../partials/errMess
    form(action="/books" method="POST" )
       include ./form_field
       a(href="/books") Cancel
       button(type="submit") Create