header
  nav.header-nav
    a.header-title(href='/') Mybrary
    ul
      li
        a(href='/authors') Authors
      li
        a(href='/authors/new') Add Author
      li
        a(href='/books') Books
      li
        a(href='/books/new') Add Book