extends layouts/layout
block content
   div.container
      h2.text-center(style='font-size: 40px;margin-bottom: 30px') Recently Added 
      each book in books
       .col-md-3.col-sm-3.col-lg-3.col-xs-6
        a(href='/books/'+book.id style='text-decoration:none')
         img( class='img',src=book.coverImgpath)
         h2(style='color:#333')=book.title