extends ../layouts/layout

block content
  h2= author.name
  a(href='/authors/'+author.id +'/edit') Edit
  include ../partials/deleteForm  
  if booksByAuthor.length > 0
   h2 Books By Author
   each book in booksByAuthor
    a(href='/books/'+book.id)
      img(height='150' width='100' src=book.coverImgpath)